@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600;700&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
}

#root {
  max-width: 2000px;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #5b7768;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: #5b7768;

  .header {
    flex: 1;
    background-color: #dae3d7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    font-size: 1.7rem;
    color: #1f2a24;
  }

  .main {
    flex: 8;
    display: flex;
    gap: 1rem;

    .gauche {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .ligne1 {
        flex: 5;
        display: flex;
        gap: 1rem;

        .accroche {
          flex: 2;
          background-color: #1f2a24;
          border-radius: 15px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          padding-left: 0.5rem;
          font-size: 1rem;
          padding-left: 1rem;
          color: #dae3d7;
        }

        .photo {
          flex: 0.6;
          background-color: #1f2a24;
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
          }
        }
      }
      .ligne2 {
        flex: 4;
        display: flex;
        gap: 1rem;

        .contact {
          flex: 1;
          background-color: #dae3d7;
          border-radius: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding-left: 0.5rem;
          position: relative;
          font-size: 1.2rem;
          padding-left: 1rem;
          color: #1f2a24;

          button {
            background-color: #dae3d7;
            border: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2.3rem;
            color: #5b7768;
            cursor: pointer;
            a {
              color: inherit;
            }
          }
        }

        .description {
          flex: 2;
          background-color: #1f2a24;
          border-radius: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding-left: 0.5rem;
          position: relative;
          font-size: 1.2rem;
          padding-left: 1rem;
          padding-right: 1rem;
          color: #dae3d7;

          button {
            background-color: #1f2a24;
            border: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2.3rem;
            color: #dae3d7;
            cursor: pointer;
          }
        }
      }
    }

    .droite {
      flex: 1.2;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .experience {
        flex: 4;
        background-color: #1f2a24;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        font-size: 1.2rem;
        color: #dae3d7;

        .projet {
          flex: 1;
          border-radius: 15px 15px 0 0;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding-left: 1.5rem;
          position: relative;

          button {
            background-color: #1f2a24;
            border: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2.3rem;
            color: #dae3d7;
            cursor: pointer;
          }
        }

        .savoir {
          flex: 1;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding-left: 1.5rem;
          position: relative;

          button {
            background-color: #1f2a24;
            border: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2.3rem;
            color: #dae3d7;
            cursor: pointer;
          }
        }
        .diplome {
          flex: 1;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding-left: 1.5rem;
          position: relative;

          button {
            background-color: #1f2a24;
            border: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2.3rem;
            color: #dae3d7;
            cursor: pointer;
          }
        }
        .exp {
          flex: 1;
          border-radius: 0 0 15px 15px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding-left: 1.5rem;
          position: relative;

          button {
            background-color: #1f2a24;
            border: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2.3rem;
            color: #dae3d7;
            cursor: pointer;
          }
        }

        .trait {
          width: 60%;
          margin: 0 auto;
          border: solid 0.5px #dae3d7;
        }

        .modal {
          width: 100vw;
          height: 100vh;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: fixed;
          z-index: 1;
          .overlay {
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(149, 149, 149, 0.3);
            backdrop-filter: blur(10px);
          }
          .contenu {
            display: flex;
            height: 80vh;
            width: 80vw;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: fixed;
            top: 10%;
            left: 10%;
            overflow-y: scroll;
            background-color: #1f2a24;
            color: #dae3d7;
            scrollbar-width: none;
            border-radius: 15px;
          }
        }
      }

      .reseaux {
        flex: 0.5;
        background-color: #dae3d7;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 3vw;

          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
